@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 339 90% 51%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --scrollbar: 339 90% 51%;
    --scrollbar-track: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ------------------------------------- */

/* Fix do shifting do shadcn */

body[data-scroll-locked] {
  min-width: 100%;
}

html {
  overflow-x: hidden;
}

/* ------------------------------------- */

/* Custom Scrollbar */

/* Styling for the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: hsl(var(--scrollbar-track));
}

/* Styling for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scrollbar));
  border-radius: 6px;
}

/* Styling for the scrollbar track piece */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}

/* Styling for the scrollbar track when active */
::-webkit-scrollbar-track:active {
  /* background-color: hsl(var(--menu)); */
  background-color: transparent;
}
::-webkit-scrollbar-track {
  /* background-color: hsl(var(--menu)); */
  background-color: transparent;
  border-radius: 6px;
}

/* Hide default arrows at the top and bottom of the scrollbar */
::-webkit-scrollbar-button {
  display: none;
}

/* Ensure the scrollbar is always visible */
.scrollable-content {
  overflow-y: scroll;
}
